force-app/main/default/flows/AutoCategoryFlow1.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>NewProductcategory1_0</name>
        <label>NewProductcategory1</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <assignmentItems>
            <assignToReference>newRecordProductId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Product__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newRecordCategoryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Category__r.ParentId__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AutoProduccategory_0</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>decision1</name>
        <label>DecisionHasParentCategory</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>NoParentCategory</defaultConnectorLabel>
        <rules>
            <name>YesParentCategory</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Category__r.ParentId__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>NewProductcategory1_0</targetReference>
            </connector>
            <label>YesParentCategory</label>
        </rules>
    </decisions>
    <interviewLabel>AutoCategoryFlow1 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>AutoCategoryFlow1</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>AutoProduccategory_0</name>
        <label>AutoProduccategory</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <inputAssignments>
            <field>Category__c</field>
            <value>
                <elementReference>newRecordCategoryId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product__c</field>
            <value>
                <elementReference>newRecordProductId</elementReference>
            </value>
        </inputAssignments>
        <object>ProductCategory__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>decision1</targetReference>
        </connector>
        <object>ProductCategory__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>newRecordCategoryId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>newRecordProductId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
