force-app/main/default/flows/Auto_Category_1.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>new_productcategory_1</name>
        <label>new_productcategory_1</label>
        <locationX>308</locationX>
        <locationY>455</locationY>
        <assignmentItems>
            <assignToReference>product1</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Product__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>category1</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Category__r.ParentId__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>auto_produccategory</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>decision1</name>
        <label>Decision_has_parent_category</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <defaultConnector>
            <targetReference>new_productcategory_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Has_parent_category</defaultConnectorLabel>
        <rules>
            <name>No_parent_category</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Category__r.ParentId__c</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <label>No_parent_category</label>
        </rules>
    </decisions>
    <interviewLabel>Auto_Category_1 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Auto_Category_1</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>auto_produccategory</name>
        <label>auto_produccategory</label>
        <locationX>308</locationX>
        <locationY>575</locationY>
        <inputAssignments>
            <field>Category__c</field>
            <value>
                <elementReference>category1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product__c</field>
            <value>
                <elementReference>product1</elementReference>
            </value>
        </inputAssignments>
        <object>ProductCategory__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>decision1</targetReference>
        </connector>
        <object>ProductCategory__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>category1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>product1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
