force-app/main/default/flows/ProductToCartFlowLJC224.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <decisions>
        <name>DecisionHasCart</name>
        <label>DecisionHasCart</label>
        <locationX>182</locationX>
        <locationY>518</locationY>
        <defaultConnector>
            <targetReference>CartCreate</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NoCart</defaultConnectorLabel>
        <rules>
            <name>HasCart</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetCart.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Draft</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CartLineItemCration0</targetReference>
            </connector>
            <label>HasCart</label>
        </rules>
    </decisions>
    <interviewLabel>ProductToCartFlowLJC224 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ProductToCartFlowLJC224</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>CartCreate</name>
        <label>CartCreate</label>
        <locationX>314</locationX>
        <locationY>638</locationY>
        <connector>
            <targetReference>CartLineItemCration1</targetReference>
        </connector>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>User__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Cart__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>CartLineItemCration0</name>
        <label>CartLineItemCration0</label>
        <locationX>50</locationX>
        <locationY>638</locationY>
        <connector>
            <targetReference>Productadded</targetReference>
        </connector>
        <inputAssignments>
            <field>Cart__c</field>
            <value>
                <elementReference>GetCart.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product__c</field>
            <value>
                <elementReference>GetPorduct.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity__c</field>
            <value>
                <elementReference>quantity_0</elementReference>
            </value>
        </inputAssignments>
        <object>CartLineItem__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>CartLineItemCration1</name>
        <label>CartLineItemCration1</label>
        <locationX>314</locationX>
        <locationY>758</locationY>
        <connector>
            <targetReference>Productadded</targetReference>
        </connector>
        <inputAssignments>
            <field>Cart__c</field>
            <value>
                <elementReference>CartCreate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product__c</field>
            <value>
                <elementReference>GetPorduct.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity__c</field>
            <value>
                <elementReference>quantity_0</elementReference>
            </value>
        </inputAssignments>
        <object>CartLineItem__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>GetCart</name>
        <label>GetCart</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetPorduct</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>User__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Cart__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetPorduct</name>
        <label>GetPorduct</label>
        <locationX>182</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>DecisionHasCart</targetReference>
        </connector>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Product__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>AddtoCartKP_0</name>
        <label>AddtoCartKP</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>GetCart</targetReference>
        </connector>
        <fields>
            <name>quantity_0</name>
            <dataType>Number</dataType>
            <defaultValue>
                <numberValue>1.0</numberValue>
            </defaultValue>
            <fieldText>Qty</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <nextOrFinishButtonLabel>Add to Cart</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Productadded</name>
        <label>Productadded</label>
        <locationX>182</locationX>
        <locationY>974</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ComfirmationText1</name>
            <fieldText>&lt;p&gt;The product has been added to the cart.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>OK</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>AddtoCartKP_0</targetReference>
        </connector>
    </start>
    <status>Active</status>
</Flow>
